/* Global */
$enable-rounded:                            false;
$enable-prefers-reduced-motion-media-query: false;
$enable-responsive-font-sizes:              true;
$body-bg:                                   #f8f8f8;
$body-color:                                #656565;

/* Primary Colors */
$primary:                                   #5f9ebb;
$success:                                   #3e9991;
$info:                                      #2784b9;
$warning:                                   #ac7833;
$danger:                                    #9c3e3e;

/* Forms */
$form-group-margin-bottom:                  0.7rem;
$label-margin-bottom:                       0.15rem;

/* Auth */
$auth-card-header-bg:                       $primary;
$auth-card-header:                          #fff;