@import "../../assets/scss/variables";

.auth-wrapper {
	height: 100%;
	display: flex;
	justify-content: center;
}
.auth-card {
	flex: 0 1 400px;
	max-width: 400px;
	margin: auto 1rem;
	box-shadow: 0 2px 5px rgba(0,0,0,0.15);
	.card-header {
		background-color: $auth-card-header-bg;
		color: $auth-card-header;
	}
}